<h2>{{ heading }}</h2>

<ul>
	<li>
		<h3>Button</h3>

		<div>
			{{ btnClicked }}

			<div>
				<app-button-with-icon
					class="btn"
					label="button in 100% container"
					name="full-width"
					(ClickEvent)="handleClick($event)"
				/>
			</div>

			<div style="width: 50%; margin-top: 24px;">
				<app-button-with-icon
					class="btn"
					name="half-width"
					label="button in 50% container"
					(ClickEvent)="handleClick($event)"
				/>
			</div>

			<div style="width: 33%; margin-top: 24px;">
				<app-button-with-icon
					class="btn"
					name="third-width"
					label="button in 33% container"
					(ClickEvent)="handleClick($event)"
				/>
			</div>
		</div>
	</li>

	<li>
		<h3>Table</h3>

		<p>Replace this text with the table component</p>
	</li>
</ul>
