<table>
	<thead>
	<tr>
		<th>
			<app-button
				label="Address"
				name="address"
				[activeColumn]="activeColumn"
				(ClickEvent)="sort($event)"
			></app-button>
		</th>
		<th>
			<app-button
				label="Gateway"
				name="gateway"
				[activeColumn]="activeColumn"
				(ClickEvent)="sort($event)"
			></app-button>
		</th>
		<th>
			<app-button
				label="Interface"
				name="interface"
				[activeColumn]="activeColumn"
				(ClickEvent)="sort($event)"
			></app-button>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let route of routes | async">
		<td>{{ route.address }}/{{ route.mask }}</td>
		<td>{{ route.gateway }}</td>
		<td>{{ route.interface }}</td>
	</tr>
	</tbody>
</table>

